<script src="js/admin/jquery/jquery-3.5.1.min.js"></script>
<script src="js/admin/jquery/jquery-migrate-3.3.1.min.js"></script>
</head>
<body class="skin-blue-light hold-transition sidebar-mini" data-spy="scroll" data-target="#scrollspy">
<div class="wrapper">
  <header class="main-header" role="banner" data-menu="${menu_pos}">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <div class="nav-item">
          <a href="${prod_base_url!}jsp/site/Portal.jsp" title="#i18n{portal.users.admin_header.title.viewSite} ${site_name}" target="_blank" class="navbar-brand">
            <img src="#dskey{portal.site.site_property.logo_url}" class="img-responsive"  title="#i18n{portal.users.admin_header.title.viewSite} ${site_name}" alt="${site_name}"><b> <#if site_name?length &gt; 18> ${site_name?substring(0,16)}... <#else> ${site_name}</#if></b>
          </a>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul id="top" class="nav navbar-nav">
          <#list feature_group_list as feature_group>
          <#if feature_group.features?size &gt; 1>
          <li class="dropdown tasks-menu">
            <a data-toggle="dropdown" class="dropdown-toggle" id="dLabel${feature_group.id}Header" href="${admin_url}#${feature_group.id}">
              ${feature_group.label} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel${feature_group.id}Header">
              <#list feature_group.features as feature>
              <li class="menu">
                <#if !feature.externalFeature>
                <a href="${feature.url}?plugin_name=${feature.pluginName}">${feature.name}</a>
                <#else>
                <a href="${feature.url}"><#if feature.iconUrl?has_content><i class="${feature.iconUrl}"></i></#if> ${feature.name}</a>
              </#if>
              </li>
            </#list>
        </ul>
        </li>
        <#else>
        <#list feature_group.features as feature>
        <li>
          <#if !feature.externalFeature>
          <a href="${feature.url}?plugin_name=${feature.pluginName}">${feature.name}</a>
          <#else>
          <a href="${feature.url}"><#if feature.iconUrl?has_content><i class="${feature.iconUrl}"></i></#if>${feature.name}</a>
        </#if>
        </li>
      </#list>
    </#if>
  </#list>
  <li>
    <a data-toggle="dropdown" class="dropdown-toggle" id="" href="">
      #dskey{sitelabels.site_property.title.ramen} <b class="glyphicon glyphicon-menu-down"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel1Header">
      <li class="menu">
        <a href="#dskey{sitelabels.site_property.ramen.url}jsp/admin/plugins/ramen/ManageDossiers.jsp?plugin_name=ramen">#dskey{sitelabels.site_property.menu.ramen.dossier}</a>
      </li>
      <li class="menu">
        <a href="#dskey{sitelabels.site_property.ramen.url}jsp/admin/plugins/ramen/ManageReferentiel.jsp?plugin_name=ramen">#dskey{sitelabels.site_property.menu.ramen.referentiel}</a>
      </li>
      <li class="menu">
        <a href="#dskey{sitelabels.site_property.ramen.url}jsp/admin/plugins/ramen/ManageRoadMap.jsp?plugin_name=ramen">#dskey{sitelabels.site_property.menu.ramen.feuille.de.route}</a>
      </li>
      <li class="menu">
        <a href="#dskey{sitelabels.site_property.ramen.url}jsp/admin/plugins/ramen/DoGetServiceFait.jsp?plugin_name=ramen">#dskey{sitelabels.site_property.menu.ramen.service.fait}</a>
      </li>
    </ul>
  </li>
  </ul>
  <ul class="nav navbar-nav navbar-right user">
    <li class="home">
      <a href="${admin_url}" title="#i18n{portal.users.admin_header.homePage}"><i class="fa fa-home"></i></a>
    </li>
    <#if user.userLevel == 0>
    <li class="home">
      <a href="jsp/admin/AdminTechnicalMenu.jsp" title="#i18n{portal.admindashboard.view_dashboards.title}">
        <i class="fa fa-cog"></i>
      </a>
    </li>
  </#if>
  <li class="dropdown user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dLabelUserHeader">
      <#if adminAvatar>
      <img src="servlet/plugins/adminavatar/avatar?id_user=${user.userId}" id="admin-avatar" class="user-image" alt="User's avatar">
      <#else>
      <img src="#dskey{portal.site.site_property.avatar_default}" id="admin-avatar" class="user-image" alt="User's avatar">
    </#if>
    <span id="zone4" class="hidden-sm hidden-md"> ${dashboard_zone_4}<i class="caret"></i></span>
    </a>
    <#if userMenuItems?has_content>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabelUserHeader">
      <#list userMenuItems as item>
      <li class="${item.itemClass?html}">${item.content}</li>
    </#list>
    </ul>
  </#if>
  </li>
  <#if admin_logout_url?has_content>
  <li>
    <a href="${admin_logout_url}" title="#i18n{portal.users.admin_header.deconnectionLink}">
      <i class="fa fa-power-off fa-fw"></i> <span class="visible-xs">#i18n{portal.users.admin_header.deconnectionLink}</span>
    </a>
  </li>
</#if>
<!--
<li>
  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i> </a>
</li>
-->
</ul>
</div>
</nav>
</header>
<!-- Wrapper -->
<div id="admin-wrapper">
  <section class="content">
    <!-- Close in footer -->
